<h1>Registration Page</h1>

<form asp-action="Summary" asp-controller="Home">
    <label for="fName">First Name</label>
    <input name="FirstName" type="text" id="fName" />
    <br />
    <label for="lName">Last Name</label>
    <input name="LastName" type="text" id="lName"/>
    <br />
    <label for="email">Email</label>
    <input name="Email" type="email" id="email" min="8" />
    <br />
    <label for="pass">Password</label>
    <input name="Password" type="password" id="pass"/>
    <br />
    <input type="submit" value="SUBMIT"/>
</form> 
